# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
*_config.json
venv/
env/
ENV/

# Scratch & Test
scratch_test_bottom/
.tempmediaStorage/
chrome_debug_profile/
*.log
*.png
*.html

# Large binary datasets
downloaded_jackets/
thumbnails/

# OS specific
.DS_Store
Thumbs.db
desktop.ini
~$*
